@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&display=swap');


* {
    font-family: 'Source Code Pro', monospace;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.Container {
    width: 1300px;
}
.zaglavie {
    font-size: 60px;
    font-weight: bolder;
    background: -webkit-linear-gradient(#3bdefa, #1358fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mat {
    margin-top: 0.5%;
    height: 450px;
    width: 640px;
    object-fit: cover;
    border-radius: 7%;
    margin-left: 0.5%;
}
.p1 {
    padding-top: 0.5%;
    font-size: 24px;
    width: 50%;
}
.mat1 {
    margin-top: 1%;
    height: 450px;
    width: 640px;
    object-fit: cover;
    border-radius: 7%;
    margin-left: 0.5%;
}
.p2 {
    padding-top: 1%;
    font-size: 24px;
    width: 50%;
}
.mat2 {
    margin-top: 1%;
    height: 450px;
    width: 640px;
    object-fit: cover;
    border-radius: 7%;
    margin-left: 0.5%;
}
.p3 {
    padding: 1%;
    font-size: 24px;
    width: 50%;
}
.mat3 {
    margin-top: 1%;
    height: 450px;
    width: 640px;
    object-fit: cover;
    border-radius: 7%;
    margin-left: 0.5%;
}
.p4 {
    padding-top: 3%;
    font-size: 24px;
    width: 50%;
}